.NavList {
    list-style-type: none;
    background-color: rgb(207, 202, 202);
    color: white;
    margin: 0;
    padding: 0;
    
  }
  .NavList.active {
    background-color: #4CAF50;
    color: white;
  }